<main>
  <% for(var i = 0; i < book.length; i++) { %>
  <section class="container-fluid <%= book[i].class %>">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/<%= book[i].imgPath %>" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title"><%= book[i].title %></h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box"><%= book[i].desc %></span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box"><%= book[i].name %></span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box"><%= book[i].place %></span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box"><%= book[i].date %></span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box"><%= book[i].price %>円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  <% } %>
</main>
